<h1>Your Applied Jobs</h1>

<% if @applies&.any? %>
  <div class="card">
    <ul class="list-group list-group-flush">
      <% @applies.each do |a| %>
        <li class="list-group-item d-flex flex-direction-between">
          <%= link_to a.job do %>
            <%= a.job.title %>
          <% end %>
          <div class="badge_gap">
            <span class="badge bg-primary rounded-pill"><%= a.status %></span>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% else %>
  <h4>You haven't applied to yet!</h4>
<% end %>

<%= link_to "Back", root_path, class: "btn btn-primary mt-3" %>