<p>Hello <%= @owner.first_name %>,</p>

<p>You have received a new application to your job:</p>

<h3>Job: <%= @job.title %></h3>

<h5>Applicants: <%= @applies.user.full_name %></h5>

<p>Best regards,
Job Finder Team</p>