<p>Hello <%= @owner.first_name %>,</p>

<p>You have receiveed a new review to your job:</p>

<h3>Job: <%= @job.title %></h3>

<h5>Review: <%= @review.title %></h5>
<p><%= @review.content %></p>

<p>Best regards,</p>
<p>Job Finder Team</p>