<h1>New Application</h1>

<%= form_for [@job, @application] do |f| %>
  <div class="field">
    <%= f.label :status %>
    <%= f.select :status, options_for_select(["Interview", "Pending", "Rejected"]), prompt: "Select status" %>
  </div>

  <%= f.submit "Submit" %>
<% end %>