<h1>Forgot Password</h1>

<%= form_with(url: forgot_password_path, method: :get) do |f| %>
  <p>Enter your email address below, and we'll send you instructions on how to reset your password.</p>

  <%= f.email_field :email, placeholder: 'john@doe.com' %>

  <%= f.submit 'Send' %>
<% end %>