<h1>Your Applied Jobs</h1>

<% if @apply&.any? %>
  <div class="card">
    <ul class="list-group list-group-flush">
      <% @apply.each do |a| %>
        <li class="list-group-item">
          <%= link_to a.job do %>
            <%= a.job.title %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% else %>
  <h4>You haven't joined anything yet!</h4>
<% end %>

<%= link_to "Back", root_path, class: "btn btn-primary mt-3" %>