.delete-btn,
.update-btn{
    margin-left: 10px;
}

.show-title {
    display: flex !important;
    flex-direction: row !important ;
    justify-content: space-between !important ;
    align-items: center !important ;
}

.badge_gap {
    margin-left: 10px;
}